<html>

<head>
    <title>Python Flask Upload and display image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="/">UMMERCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <p class="mt-5 pt-3">
        <h1 align="center">Upload Your Product</h1>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form method="post" action="/result" enctype="multipart/form-data" class="text-center">
                        <dl>
                            <p>
                                <input type="file" name="file" class="form-control" autocomplete="off" required>
                            </p>
                        </dl>
                        <p>
                            <input type="submit" value="Upload" class="btn btn-primary">
                        </p>
                    </form>
                </div>
        </div>
    </div>
</body>

</html>